
body{
  font-family: Calibri, sans-serif;
  font-weight: 700;
}

.wrapper-first{
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  &__block {
    border: 2px solid black;

    min-height: 100px;
    height: 100%;
    max-width: 500px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

  }
  &_return{
    font-size: 20px;

  }
  &__input{
    max-width: 100px;
    width: 100%;

    border: 1px solid black;
  }
  &__button{
    border: 1px solid black;

    padding: 2px 10px;
  }
  &__text{
    border: 1px solid red;
    padding: 3px;
    width: max-content;
  }
}
#second{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;

  max-width: 300px;
  width: 100%;
}

#third{
  max-width: 400px;
  flex-direction: column;
  gap: 20px;
}

/////////////
.wrapper-second{
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}